<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartSlot</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>SmartSlot</h1>
    <p>Book your car care appointments here</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
  </body>
</html>
