<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>SmartSlot</title>
  </head>
  <body class= "index-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="index-container">
      <div class="text-container">
        <h1 class= "main-header">SmartSlot</h1>
        <p class= "subheader">Book your car care appointments here</p>
      </div>
    </div>
    <div class="footer">
      <p>Services || Car Wash | Car Polish | Car Detailing | Paint Protection | Window Tint</p>
    </div>
  </body>
</html>

