@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #d0e7f9; 
}
.index-body {
    background-color: #9dbaee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23729be7' fill-opacity='0.38'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url('https://img.freepik.com/free-photo/rocket-taking-off-boost-symbol-ai-generated-image_268835-6577.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: #1c2e5b;
}

.main-header {
    font-weight: bold;
    color: #1c2e5b;
    font-size: 5.6em;
    margin: -160px 20px 0 20px;
}

.subheader {
    display: flex;
    margin: 0 20px 0 20px;
    font-size: 1.4em;
}

.footer { 
    display: flex;
    color: #1c2e5b;
    font-size: 1.5em;
    margin: 0 20px;
    padding: 10px 0; 
    text-align: center; 
    margin-top: auto;
} 

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
}

.signup-link,
.signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0;
    border-radius: 25px;
    width: 10em;
    text-align: center;
}

.signup-link {
    background-color: #1c75bc;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.signup-link:hover {
    background-color: #5dade2; 
}

.signin-link {
    background-color: #d6eaf8; 
    color: #1c2e5b;
    margin: 20px 0 0 0;
}

.signin-link:hover {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}

#nav-header {
    color: #1c75bc;
    size: 1em !important;
    margin: 0;
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #4b598e;
    font-weight: bold;
}

.authlink:hover {
    color: #ffffff;
}

.signin-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    color: #1c2e5b;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 50%;
    background-color: #d6eaf8;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: #4b598e;
    font-weight: bold;
}

input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #1c75bc; 
    color: #ffffff;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
}

.all-apps-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-apps-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
}

.add-app-link {
    padding: 10px;
    background-color: #1c75bc;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    padding: 2px 25px;
    text-decoration: none;
}

.add-app-link:hover {
    background-color: #5dade2; /* Light blue for hover effect */
}

ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul > a {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    background-color: #d6eaf8; 
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
}

ul > a:hover {
    background-color: #1c75bc; 
    color: #ffffff;
}

.new-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.new-body > form,
.edit-body > form {
    height: 70%;
}

textarea,
select {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 10px;
}

select {
    margin-bottom: 10px;
}

.edit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
